.garis-asset1{
    border:2px solid black;
    margin-top: -15px;
    margin-bottom: 20px;
       
}
.card-asset{
 width: 180px;
 /* overflow: hidden; */
 /* position: relative;        */
}
.card-asset:hover{
    color: rgb(47, 47, 174);
    box-shadow: 2px 2px 15px black;
    /* transition: all 0.5s; */
    /* transform: scale(1.2); */
}

@media screen and (min-width:414px) {
    .garis-asset1{
        width:20%; 
    }
    .svg_style{
        width: 100px;
        height: 100px;
    }
    .png-custom{
        background-color: aliceblue;
        display: flex;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: auto;
    }
    
    .img-png-custom{
        max-width: 150px ;
    
    }
    img-card-custom{
        height: 100%;
        width: 100%;
        overflow: hidden;
        /* position: relative; */
    }
    .img-custom{
        width: 100%;
        height: 150px;
        display: block;
        object-fit: cover;
        border-radius: 0px 6px 0px 0px;
    }
}

@media screen and (max-width:414px) {
    .garis-asset1{
        width:50%; 
    }
    .svg_style{
        width: 100px;
        /* margin-top: 20px; */

    }
    .judul-asset{
        font-size: 36px;
    }
    .png-custom{
        background-color: aliceblue;
        padding: 10px;
    }
    
    .img-png-custom{
        width: 150px ;
    
    }
}
