
/* Font Poppins */
.rasa-thin {
    font-family: "Rasa", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .rasa-extralight {
    font-family: "Rasa", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .rasa-light {
    font-family: "Rasa", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rasa-regular {
    font-family: "Rasa", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rasa-medium {
    font-family: "Rasa", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .rasa-semibold {
    font-family: "Rasa", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .rasa-bold {
    font-family: "Rasa", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .rasa-extrabold {
    font-family: "Rasa", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .rasa-black {
    font-family: "Rasa", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .rasa-thin-italic {
    font-family: "Rasa", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .rasa-extralight-italic {
    font-family: "Rasa", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .rasa-light-italic {
    font-family: "Rasa", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .rasa-regular-italic {
    font-family: "Rasa", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .rasa-medium-italic {
    font-family: "Rasa", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .rasa-semibold-italic {
    font-family: "Rasa", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .rasa-bold-italic {
    font-family: "Rasa", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .rasa-extrabold-italic {
    font-family: "Rasa", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .rasa-black-italic {
    font-family: "Rasa", serif;
    font-weight: 900;
    font-style: italic;
  }
  